@font-face {
    font-family: 'MiSans';
    font-weight: normal;
    src: url(./fonts/MiSans-Regular.ttf);
}

@font-face {
    font-family: 'MiSans';
    font-weight: bold;
    src: url(./fonts/MiSans-Demibold.ttf);
}

@font-face {
    font-family: 'HarmonyOS Sans';
    font-weight: normal;
    src: url(./fonts/HarmonyOS_Sans_Regular.ttf);
}

@font-face {
    font-family: 'HarmonyOS Sans';
    font-weight: bold;
    src: url(./fonts/HarmonyOS_Sans_Medium.ttf);
}

@font-face {
    font-family: 'OPPOSans';
    font-weight: normal;
    src: url(./fonts/OPPOSans-R.ttf);
}

@font-face {
    font-family: 'OPPOSans';
    font-weight: bold;
    src: url(./fonts/OPPOSans-M.ttf);
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: normal;
    src: url(./fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: bold;
    src: url(./fonts/SF-Pro-Display-Medium.otf);
}

body {
    -webkit-user-select: none;
    user-select: none;
    font-family: MiSans;
    transition: background-color 0.2s ease;
}

.mi-sans {
    font-family: MiSans !important;
}

.harmony-sans {
    font-family: HarmonyOS Sans !important;
}

.oppo-sans {
    font-family: OPPOSans !important;
}

.sf-pro {
    font-family: SF Pro Display !important;
}

.mdui-select {
    font-family: MiSans;
}

h1 {
    font-weight: bold;
}

.preview-dialog .mdui-dialog-content {
    padding: 0;
}

@media (min-width: 600px) {
    :root {
        height: 100%;
    }

    body {
        height: 100%;
        overflow: hidden;
    }

    .mdui-container,
    #main-flex,
    #photo-col {
        height: 100%;
    }

    #photo-col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-right: none;
        flex: 1;
        height: auto;
        max-height: 100%;
        padding: 16px;
    }

    #photo-container {
        text-align: center;
    }

    #photo-area {
        width: 570px;
        height: 690px !important;
        max-height: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 16px;
        background-color: #fff;
        transition: background-color 0.2s ease;
    }

    #photo-tip {
        text-align: center;
        color: #777;
    }

    #photo-info {
        text-align: center;
        color: #777;
    }

    #photo-canvas-div {
        height: auto;
        width: auto;
        max-width: 800px;
        max-height: 700px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    #info-col {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        height: auto;
        max-height: 80%;
        overflow-y: auto;
    }

    .mdui-snackbar-right-top {
        -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;

        border-radius: 6px;
    }

    #main-flex {
        height: 100%;
        display: flex;
        align-items: center;
    }

    #photo-col,
    #info-col {
        flex: 1;
        height: auto;
        max-height: 80%;
        padding: 16px;
        box-sizing: border-box;
    }
}

.mdui-slider {
    padding: 10px 0;
    margin-bottom: 0;
}

#theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.mdui-theme-transition {
    transition: background-color 0.2s ease;
}